nav {
  padding: 10px;
  width: 50%;
  position: sticky;
  top: 0;
  background-color: rgb(197, 182, 182);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  padding: 8px;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: rgb(41, 148, 196);
  border-radius: 45%;
  border: 3px solid ;
}
nav ul {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav ul a {
  padding: 5px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
}
nav ul li:nth-child(1) a {
  background-color: rgb(189, 170, 196);
}
nav ul li:nth-child(2) a {
  background-color: rgba(60, 79, 53, 0.5);
}
nav ul li:nth-child(3) a {
  background-color: rgba(78, 104, 125, 0.3);
}
nav ul li:nth-child(4) a {
  background-color: rgba(207,32,51, 0.3);
}
